@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Muli:wght@400;600&display=swap");

body {
  color: white !important;

  -webkit-font-smoothing: antialiased !important;
}
.resetlink {
  color: white !important;
}
.resetlink:hover {
  text-decoration: none;
}
.resetlink-blue {
  color: #3abbc4 !important;
}
.resetlink-blue:hover {
  text-decoration: none;
}
.bg-1 {
  background: #3abbc4 !important;
  height: auto;
  padding-bottom: 110px;
}
.bg-error {
  background: #3abbc4 !important;
  height: 100vh;
  padding-bottom: 110px;
}
.bg-1-quiz {
  background: #fff !important;
}
.flex-center {
  display: flex;

  justify-content: space-between;
}
.font-mont {
  font-family: "Montserrat", sans-serif !important;
}
.font-muli {
  font-family: "Muli", sans-serif !important;
}

.logo {
  font-size: 25px;
  font-weight: bold !important;
}
.logo-blue {
  color: #3abbc4;
  font-size: 25px;
  font-weight: bold !important;
}
a {
  font-family: "Muli", sans-serif;
}
.title {
  font-weight: bold;
  font-size: 50px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}
.mybtn {
  color: white !important;
  margin-top: 20px;
  background-color: #b53180;
  padding: 30px 125px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  font-size: 18px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: 0.15s linear;
}
.mybtn:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.mybtn:hover .icon {
  top: 150%;
  animation: moveFromTop 0.15s linear forwards;
  animation-delay: 0.15s;
}
@keyframes moveFromTop {
  0% {
    top: -50%;
  }
  100% {
    top: 50%;
  }
}
.bg-2 {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: black;
}
.title-2 {
  text-transform: uppercase;
  font-size: 70px;
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #3abbc4 0%, #b53180 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle-2 {
  color: gray;
  font-size: 22px;
  margin-bottom: 20px;
}
.text-link {
  font-size: 16px;
  color: gray;
  margin-bottom: 100px;
}
.bg-3 {
  background: #c5fbff !important;
  height: auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.title-3 {
  font-size: 40px;
  font-weight: 600;
  color: #3abbc4;
}
.bg-4 {
  background-color: white;
  display: flex;
  align-items: center;
  height: auto;
}
.footer-logo {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #3abbc4;
}
.roxo {
  color: #b53180;
}
.img-1 {
  width: 95%;
  float: right;
}
.img-2 {
  width: 95%;
  float: left;
}
@media (max-width: 991.98px) {
  .img-1 {
    padding-top: 50px;
  }
  .img-2 {
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 40px;
  }
  .title-3 {
    font-size: 30px;
  }
  .title-2 {
    font-size: 40px;
  }
}
.bg-1-quiz {
  padding-top: 30px;
}
.title-pergunta {
  background: linear-gradient(to right, #b53180 0%, #3abbc4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-quiz {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  color: #3abbc4;
}
.questions-perguntas {
  text-align: center;
  background-color: white;

  padding: 15px;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  font-size: 22px;
  cursor: pointer;
  color: #3abbc4;
}
.questions-perguntas-select {
  text-align: center;
  background-color: #b53180;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  font-size: 22px;
  color: white;
}
.mybtn-quiz {
  color: white !important;
  margin-top: 20px;
  background-color: #b53180;
  padding: 30px 150px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  outline: none;
  border: none;
}

.mybtn-quiz:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.mybtn-quiz:hover .icon {
  top: 150%;
  animation: moveFromTop 0.15s linear forwards;
  animation-delay: 0.15s;
}
.resultado {
  font-size: 80px;
  text-align: center;

  padding-top: 0px;
  padding-bottom: 30px;
  background: linear-gradient(to right, #3abbc4 0%, #b53180 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767.98px) {
  .title-quiz {
    font-size: 30px;
  }
}
@keyframes ldio-b4c3kdybjnc {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes ldio-b4c3kdybjnc-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}
@keyframes ldio-b4c3kdybjnc-c {
  0% {
    background: #71b6cc;
  }
  25% {
    background: #f5be26;
  }
  50% {
    background: #71b6cc;
  }
  75% {
    background: #f5be26;
  }
  100% {
    background: #71b6cc;
  }
}
.ldio-b4c3kdybjnc div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  background: #71b6cc;
  animation: ldio-b4c3kdybjnc 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-b4c3kdybjnc div:nth-child(1) {
  background: #f5be26;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-b4c3kdybjnc-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-b4c3kdybjnc-c 1s infinite step-start;
}
.ldio-b4c3kdybjnc div:nth-child(2) {
  animation-delay: -0.25s;
  background: #71b6cc;
}
.ldio-b4c3kdybjnc div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f5be26;
}
.ldio-b4c3kdybjnc div:nth-child(4) {
  animation-delay: -0.75s;
  background: #71b6cc;
}
.ldio-b4c3kdybjnc div:nth-child(5) {
  animation-delay: -1s;
  background: #f5be26;
}
.loadingio-spinner-ellipsis-bv51xdi86p {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-b4c3kdybjnc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-b4c3kdybjnc div {
  box-sizing: content-box;
}
